@font-face {
  font-family: "Luciole";
  src:
    local("Luciole-Regular"),
    url('https://codeberg.org/hebstr/r_doc/raw/branch/main/Luciole_webfonts/Luciole-Regular/Luciole-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Luciole";
  src:
    local("Luciole-Bold"),
    url('https://codeberg.org/hebstr/r_doc/raw/branch/main/Luciole_webfonts/Luciole-Bold/Luciole-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
  font-display: fallback;
}

body {
  text-align: justify !important;
  font-family: "Luciole";
  font-size: 0.95rem !important;
}

h2, h3, h4, h5 {
  font-weight: bold;
}

.cb1 {
  font-weight: bold;
  color: $primary;
}

.cb2 {
  font-weight: bold;
  color: $secondary;
}

[data-bs-theme="dark"] pre code span.co {
  font-style: normal !important;
}
