@font-face {
  font-family: 'Luciole';
  font-style: normal;
  font-weight: normal;
  src: url('Luciole-Regular.woff2') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Luciole';
  font-style: bold;
  font-weight: bold;
  src: url('Luciole-Bold.woff2') format('truetype');
  text-rendering: optimizeLegibility;
}
